<a href="https://colab.research.google.com/github/palakagl/NLP/blob/main/NLP_LDA_Kiva_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install unidecode
!pip install nltk

Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import pandas as pd
import io

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving kiva_cleaned.csv to kiva_cleaned.csv

In [ ]:
kiva_df=pd.read_csv(io.BytesIO(uploaded['kiva_cleaned.csv']))
kiva_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   loan_id      6818 non-null   int64
 1   status       6818 non-null   object
 2   sector       6818 non-null   object
 3   en           6818 non-null   object
 4   country      6818 non-null   object
 5   gender       6818 non-null   object
 6   loan_amount  6818 non-null   float64
 7   nonpayment   6818 non-null   object
 8   en_clean     6802 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 479.5+ KB

In [ ]:
kiva_df=kiva_df.dropna()
kiva_df=kiva_df.reset_index(drop = True)
kiva_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6802 entries, 0 to 6801
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   loan_id      6802 non-null   int64
 1   status       6802 non-null   object
 2   sector       6802 non-null   object
 3   en           6802 non-null   object
 4   country      6802 non-null   object
 5   gender       6802 non-null   object
 6   loan_amount  6802 non-null   float64
 7   nonpayment   6802 non-null   object
 8   en_clean     6802 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 478.4+ KB

In [ ]:
kiva_df.head(10)

,loan_id,status,sector,en,country,gender,loan_amount,nonpayment,en_clean
0,0,defaulted,Agriculture,<i>This description is written by Rowland Amul...,Kenya,M,500.0,lender,"Robert, 40, is married and has 6 children. In ..."
1,1,defaulted,Food,<i>This description is written by Rowland Amul...,Kenya,F,500.0,lender,"Petronilla, 30, was deserted by her husband an..."
2,2,defaulted,Food,<i>This description was written by Richard Maz...,Kenya,M,500.0,lender,"Tom Mung'ahu, 45, is married and has 6 childre..."
3,3,defaulted,Services,<i>This description was written by Rowland Amu...,Kenya,F,500.0,lender,"Benedina, 42, is married and has 4 girls. In a..."
4,4,defaulted,Construction,<i>This description was written by Rowland Amu...,Kenya,M,500.0,lender,"Vincent Ondego 40, is married and has 8 childr..."
5,5,defaulted,Clothing,"<p>Beth was born in 1973 in Kiambu district, K...",Kenya,F,1000.0,lender,"Beth was born in 1973 in Kiambu district, Keny..."
6,6,defaulted,Agriculture,Dorcas is married with 4 children. She is the ...,Kenya,F,300.0,lender,Dorcas is married with 4 children. She is the ...
7,7,defaulted,Agriculture,Veronica is married with 5 children. All of he...,Kenya,F,300.0,lender,Veronica is married with 5 children. All of he...
8,8,defaulted,Retail,Sarah is 27 years of age and married. She is a...,Kenya,F,150.0,lender,Sarah is 27 years of age and married. She is a...
9,9,defaulted,Agriculture,Mary hails from Weithaga village. She is marri...,Kenya,F,300.0,lender,Mary hails from Weithaga village. She is marri...

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
import unidecode

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop_words = set(stopwords.words('english') + stopwords.words('spanish'))
lemmer = WordNetLemmatizer()